# ── Database ──────────────────────────────────────────────────
MONGO_URI=mongodb://localhost:27017/voicebox

# ── Auth ──────────────────────────────────────────────────────
JWT_SECRET=replace_with_a_long_random_secret_string
JWT_EXPIRES_IN=7d

# ── Activation Codes (store hashed in production) ─────────────
SCHOOL_ADMIN_CODE=936174
DEPT_ADMIN_CODE=482051

# ── Server ────────────────────────────────────────────────────
PORT=5000
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# ── OneSignal (server-side only) ─────────────────────────────
ONESIGNAL_APP_ID=26f16bf7-589f-4e66-bdf3-25a409693225
ONESIGNAL_API_KEY=6dinwgtghehff3b2ewaeyvftg
